@(predictedPrice: String = "", errors: Seq[String] = Seq())(implicit req: RequestHeader)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(title = "Rent Analytics Kyiv") {

    @predictionform()

    @if(predictedPrice != "") {
        <div class="prediction alert-success">@predictedPrice</div>
    }

    @if(errors.nonEmpty) {
        <div class="error alert-error">
            @for(err <- errors) {
                @err
            }
        </div>
    }
}
