@import entities.ApartmentData

@()(implicit req: RequestHeader)

<div>
    @helper.form(action = helper.CSRF(routes.PriceController.predictPrice()), 'id -> "prediction-form") {

        @form.number("Площа квартири, кв. метрів", "area", "Потрібно зазначити площу")

        @form.select("Район", "district")

        @form.select("Станція метро", "metro")

        @form.select("Тип стін будинку", "wallType")

        <input type="hidden" name="city" value="Киев">

        @form.button("Розрахувати", "calculate-btn")
    }
</div>
