@import entities.ApartmentData

@()()(implicit req: RequestHeader)


<div>
    @helper.form(action = routes.PriceController.predictPrice(), 'id -> "prediction-form") {
        @helper.CSRF.formField

        @form.number("Площа квартири, кв. метрів", "area", "Потрібно зазначити площу")

        @form.select("Район", "district")

        @form.select("Станція метро", "metro")

        @form.select("Тип стін будинку", "wallType")

        <input type="hidden" name="city" value="Киев">

        @form.button("Розрахувати", "calculate-btn")
    }
</div>
